
/* Color Variables */

$white: #fff;
$white-sand: #f5f5f5;
$ghostwhite: ghostwhite;
$wild-blue-yonder: #8b94be;
$viridian: #499985;
$dark-viridian: #3e7e6e;
$keppel: #39ac90;
$radical-red: #FD314D;
$mine-shaft: #333;
$tundora: #444;
$cod-grey: #1a1a1a;
$obsidian-grey: #0d0d0d;
$midnight: #090909;
$black: #000;


/* Font Variables */

$open-sans: 'Open Sans', Helvetica, Sans-serif;
$montserrat: 'Montserrat', "Helvetica Neue", Helvetica, Sans-serif;
$roboto: 'Roboto', "Helvetica Neue", Helvetica, Sans-serif;
$raleway: 'Raleway', "Helvetica Neue", helvetica, Sans-serif;
$lato: 'Lato', "Helvetica Neue", Helvetica, Sans-serif;





